{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Add Person</title>
    </head>
    <body>
    <div class="center">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" required>
        <br>
        <label>Photo:</label>
        <input type="file" name="photo" required>
        <br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
    </body>
    </html>
