{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
<body>
    <nav>
        <div class="nav-right">
            <a href="#">Opção 1</a>
            <a href="#">Opção 2</a>
            <a href="#">Opção 3</a>
        </div>
    </nav>
    <div class="container">
        <img src="{{ person.photo.url }}" alt="{{ person.name }}">
        <h1>{{ person.name }}</h1>
    </div>
</body>
</html>

